

@media (max-width: 992px) {
     
    .bts{
        width: 450px;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .bts1{
        width: 650px;
        justify-content:  center;
    }
}

@media (max-width: 768px) {
    .bts{
        width: 350px;
       
    }
    .bts1{
        width: 450px;
        
        
    }
    
    }
    @media (max-width: 576px) {

        .bts{
            width: 100px;
            
        }
        .bts1{
            width: 350px; 
        }
    
    }