.pixel{
    height: 120px;
    width: 120px;
}
.pink{
    background-color: antiquewhite;
}
.blue{
    background-color: rgb(167, 207, 233);
}
.pinky{
    background-color: pink;
}
.sizebtn{
    width: 200px;
}
.height{
    height: 300px
}
.sizebtn1{
    width: 150px;
}

.sp{
    color: #0d6efd;
    margin-left: 3rem;
}

.nav-item{
padding: 0px 7px; 

}

.lr {
    margin-left: 1rem;
}

.bt{
    background-color: #0d6efd; 
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .navbar{
        width: 990px;
        
    } 
}
@media (max-width: 768px) {
.navbar{
    width: 760px;
    
}

}
@media (max-width: 576px) {
.navbar{
    width: 500px;

}
}