.pixel{
    height: 120px;
    width: 120px;
}
.pink{
    background-color: antiquewhite;
}
.blue{
    background-color: rgb(167, 207, 233);
}
.pinky{
    background-color: pink;
}
.sizebtn{
    width: 200px;
}
.height{
    height: 300px
}
.sizebtn1{
    width: 150px;
}

.sp{
    color: #0d6efd;
    margin-left: 3rem;
}


.lr {
    margin-left: 1rem;
}

.bt{
    background-color: #0d6efd; 
}



.skewy{
    position: absolute;
    height: 300px;
    width: 1000px;
    margin-left: 1036px;
    transform: skew(70deg);
    z-index: 100;
    border-radius: 20px;
}
.pinktry {
    clip-path: polygon(0 0, 100% 0, 35% 100%, 0% 100%);
}
.length{
    width: 1100px;
}
.top{
    margin-top: -10px;
}
.width{
    width: 500px;
}
body{
    overflow-x: hidden;
}
.btn-danger:hover, .btn-outline-primary:hover{
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;

/*---Media Queries --*/
@media (max-width: 992px) {
    .navbar{
        width: 990px!important;
        
    } 

    
}
@media (max-width: 768px) {
.navbar{
    width: 760px!important;
    
}

}
@media (max-width: 576px) {
.navbar{
    width: 500px!important;

}
}

}
.sqlsection {
    background-color: #f6ffff;
}

.sql-info{
    background-color: #ffffff;
    border-radius: 2px;
   margin: 30px;
 
}

.sql-header{
    padding: 30px 0;
    color: #0d6efd;
}
